
<%= javascript_pack_tag 'react' %>

<%= content_tag :div,
  id: :words_data,
  data: {
    words: @tword.words,
    environment: Rails.env,
    cloud_visible: @cloud_visible,
    date: @date
  }.to_json do %>
<% end %>

<%= content_tag :div,
 id: :wrapper do %>
  <div id="root"></div> 
  <div id="my-canvas"></div>
<% end %>


