<%= content_tag :div,
  id: :words_data,
  data: {
    words: @tword.sometimes_shuffle_words,
    environment: Rails.env,
    cloud_visible: @cloud_visible,
    date: @date,
    greeting: @greeting
  }.to_json do %>
<% end %>

<%= content_tag :div,
 id: :wrapper do %>
  <div id="root"></div> 
  <div id="my-canvas"></div>
<% end %>

<%= javascript_pack_tag 'twords' %>
