<%= content_tag :div, id: :env, data: { env: Rails.env }.to_json do %>
<% end %>


<%= content_tag :div, id: :wrapper do %>
  <div id="root"></div> 
  <div id="my-canvas"></div>
<% end %>

<%= javascript_pack_tag '404' %>
